@model List<BEE.Models.hive>


<div asp-validation-summary="All"></div>
@if( TempData["error"] != null )
{
    <p>@TempData["error"]</p>
}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="LoggedInIndex" class="navbar-brand">BEE</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="align-right" asp-area="" asp-controller="Map" asp-action="Places">Hive Map</a></li>
                <li><a class="align-right" asp-area="" asp-controller="Hive" asp-action="MyHivesDash">My Hives</a></li>
                <li><a class="align-right" asp-area="" asp-controller="Hive" asp-action="AddNewHivePage">Add Hive</a></li>
                <li><a class="align-right" asp-area="" asp-controller="Permission" asp-action="GivePermissionPage">Give Permission</a></li>
                <li><a class="align-right" asp-area="" asp-controller="Permission" asp-action="PermissionDash">Open Permissions</a></li>
                <li><a class="align-right" asp-area="" asp-controller="Home" asp-action="LogOut">Log Out</a></li>

            </ul>
        </div>
    </div>
</nav>
<br>

<h3> Here are All the Hives You're Managing, @ViewBag.RetrievedUser.firstName: </h3>

<div class="container img-fluid" id="myHivesBackImage" >

    <div class="table-responsive col-lg-12 col-med-6" id="myHivesTableText">
    <table class="table">
        <thead>
            <tr>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Hive Age</th>
                <th>Status</th>
                <th>Notes</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach( var rev in Model )
            {
                <tr>
                    <td><p>@rev.hiveAddress</p></td>
                    <td><p>@rev.hiveCity</p></td>
                    <td><p>@rev.hiveState</p></td>
                    <td><p>@rev.hiveZip</p></td>
                    <td><p>@rev.age</p></td>
                    <td><p>@rev.status</p></td>
                    <td><p>@rev.notes</p></td>
                    <td>
                    <form asp-controller="Hive" asp-action="HiveDetails" asp-route-id="@rev.hiveid" method="Post">
                        <button type="submit" class="btn btn-info" id="myHivesBtns">Edit Hive</button>
                    </form>
                    </td>
                    <br>
                    <td>
                    <form asp-controller="Hive" asp-action="DeleteHiveForm" asp-route-id="@rev.hiveid" method="Post">
                        <button type="submit" class="btn btn-info" id="myHivesBtns">Delete Hive</button>
                    </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</img>