@model List<BEE.Models.permission>


<div asp-validation-summary="All"></div>
@if( TempData["error"] != null )
{
    <p>@TempData["error"]</p>
}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="LoggedInIndex" class="navbar-brand">BEE</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="align-right" asp-area="" asp-controller="Map" asp-action="Places">Hive Map</a></li>
                <li><a class="align-right" asp-area="" asp-controller="Hive" asp-action="AddNewHivePage">Add Hive</a></li>
                <li><a class="align-right" asp-area="" asp-controller="Home" asp-action="GivePermission">Give Permission</a></li>
                <li><a class="align-right" asp-area="" asp-controller="Permission" asp-action="PermissionDash">Open Permissions</a></li>
                <li><a class="align-right" asp-area="" asp-controller="Home" asp-action="LogOut">Log Out</a></li>

            </ul>
        </div>
    </div>
</nav>
<br>

<div class="container" >


<h3> Sites available: </h3>

    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Land Amount</th>
                <th>Allergies</th>
                <th>Access Info</th>
                <th>Access Time</th>
                <th>Contact Info</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach( var perm in Model )
            {
                <tr>
                    <td>@perm.landAmt</td>
                    <td>@perm.allergies</td>
                    <td>@perm.accessInfo</td>
                    <td>@perm.accessTime</td>
                    <td>@perm.userid</td>
                    <td>
                    <form asp-controller="Permission" asp-action="DeletePermFromList" asp-route-id="@perm.permissionid" method="Post">
                        <button type="submit">Claim Permission</button>
                    </form>
                    </td>
                </tr>
                
            }
        </tbody>
    </table>
    </div>
</div>